<%= form_with(model: cheff) do |form| %>
  <% if cheff.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cheff.errors.count, "error") %> prohibited this cheff from being saved:</h2>

      <ul>
        <% cheff.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form.label :day, 'Day' %>
  <%= form.select :day, ['Monday', 'Tuesday', 'Wednesday', "Thursday", "Friday", "Saturday", "Sunday"], { include_blank: true }, { class: 'form-control mb-3', placeholder: 'Day' } %>
  
  <%= form.label :time, 'Time' %>
  <%= form.select :time, ['Breakfast', 'Lunch', 'Dinner'], { include_blank: true }, { class: 'form-control mb-3', placeholder: 'Time' } %>

  <%= form.label :cuisine, 'Cuisine' %>
  <%= form.select :cuisine, ['Chinese', 'Italian', 'Indian', 'Mexican'], { include_blank: true }, { class: 'form-control mb-3', placeholder: 'Cuisine' } %>

  <%= form.text_field :meal, class: "form-control mb-3", placeholder: "Meal" %>
  <%= form.text_field :price, class: "form-control mb-3", placeholder: "Price" %>
  <%= form.number_field :max_num, class: "form-control mb-3", placeholder: "Maximum Number" %>

  <%= form.number_field :booked_num, class: "form-control mb-3", value: 0, type: :hidden %> 


  <%= form.submit class:"btn btn-success" %>
  <%= link_to "Cancel", cheffs_path, class: "btn btn-secondary" %>

<% end %>
